<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./Estilos/contenedores.css">
	<link rel="stylesheet" href="./Estilos/elementos.css">
	<link rel="stylesheet" href="./Estilos/efectos.css">
	<link rel="stylesheet" href="./Estilos/moviles.css">
	<title>Sala</title>
</head>
<body>

	<div id="Inicio">
		<div id="Contenedor1">
			<div id="Seccion1">
				<div id="SeccionVideo">
					<video playsinline autoplay id="video-remoto" poster="Imagenes/Usuario_No_Definido.png"></video>
				</div>
				<div class="SeccionDescripcion DescripcionRemoto">
					<div class="NombrePersona"><%-familiarNombre%></div>
					<div id="Controles">
						<img src="./Imagenes/Colgar.png" alt="" id="BotonSalir">
					</div>
				</div>
			</div>
		</div>
		<div id="Contenedor2">
			<div id="Seccion2">
				<div id="SeccionVideo">
					<video playsinline autoplay muted id="video-local" poster="Imagenes/Usuario_No_Definido.png"></video>
				</div>
				<div class="SeccionDescripcion DescripcionLocal">
					<div class="NombrePersona"><%-miNombre%></div>
				</div>
			</div>
		</div>
		<div id="Contenedor3">
			<div id="Seccion3">
				<div id="Mensajes"></div>
				<div id="ContenedorEscritura">
					<div id="EscribirMensaje">
						<input type="text" name="entrada-mensaje" id="entrada-mensaje" required autocomplete="off">
						<label for="entrada-mensaje">Escribe el mensaje</label>
					</div>
				</div>
			</div>
		</div>
	</div>	

	<input type="text" id="miNombre" value="<%-miNombre%>" disabled style="display:none">
	<input type="text" id="familiarNombre" value="<%-familiarNombre%>" disabled style="display:none">
	<input type="text" id="url" value="<%-url%>" disabled style="display:none">
	<input type="text" id="regresar" value="<%-regresar%>" disabled style="display:none">

</body>

<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/script/main.js" charset="utf-8" type="module"></script>

</html>